# SD image
image sdcard.img {
	hdimage {
		partition-table-type = "mbr"
	}

	partition awboot {
		in-partition-table = "no"
		image = "awboot-boot-sd.bin"
		offset = 8K
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 512K
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
	}
}

image boot.vfat {
	vfat {
		label = "boot"
		files = {
			"cmdline.txt",
			"optee.bin",
			"sun8i-duet3d-duetscreen-linux.dtb",
			"zImage"
		}
	}
	size = 64M
}

# NAND image
flash nand-256M {
	pebsize = 131072
	lebsize = 126976
	numpebs = 2048
	minimum-io-unit-size = 2048
	vid-header-offset = 2048
	sub-page-size = 2048
}

image nand.img {
	flash {}
	flashtype ="nand-256M"
	
	partition awboot {
		image = "awboot-boot-spi.bin"
		size = 256K
	}
	partition dtb {
		image = "sun8i-duet3d-duetscreen-linux.dtb"
		size = 256K
	}
	partition optee {
		image = "optee.bin"
		size = 512K
	}
	partition kernel {
		image = "zImage"
		size = 4M
	}
	partition ubi {
		image = "rootfs.ubi"
	}
}

